@font-face {
  font-family: 'Raleway';
  font-weight: 800;
  font-style: normal;

  src: url('../fonts/raleway/raleway-800.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 400;
  font-style: normal;

  src: url('../fonts/rubik/rubik-400.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 700;
  font-style: normal;

  src: url('../fonts/rubik/rubik-700.woff2') format('woff2');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-weight: 800;
  font-style: normal;

  src: url('../fonts/rubik/rubik-800.woff2') format('woff2');
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;

  color: #000000;
  background-color: #FFFFFF;
}

/* Шапка сайта */

.main-header {
  color: #000000;
  background-color: #FFF17F;
}

.navigation{
  width: 864px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.navigation-user{
  display: flex;
  flex-direction: row;

}

.navigation-services {
  display: flex;
  flex-direction: row;

}
.site-search-field {
  font-family: inherit;
  font-size: 16px;
  line-height: 19px;

  opacity: 0.3;
}

.navigation-link {
  margin: 0;
  padding: 0;
}

.navigation-user .navigation-link {
  font-size: 16px;
  line-height: 19px;

  text-decoration: none;

  color: #000000;
}

.navigation-services .navigation-link {
  font-family: 'Raleway', sans-serif;
  line-height: 21px;

  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

.main-container{
  flex-grow: 1;
}

/* Слайдер */
.slider-number {
  font-size: 180px;
  font-weight: 800;
  line-height: 30px;

  color: #FFFFFF;
}

.slider-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.slider-description {
  color: #444444;
}

.slider-link {
  font-family: 'Raleway', sans-serif;
  line-height: 21px;

  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

.slider-table-row {
  font-size: 16px;
}

.slider-table-data-big {
  font-size: 36px;
  font-weight: 400;
}

/* Категории товаров */
.product-categories-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-categories-item{
  width: 160px;
}

.product-categories-link {
  font-family: 'Raleway', sans-serif;
  line-height: 24px;

  text-decoration: none;
  letter-spacing: -0.02em;

  color: #000000;
}

/* Сервисы */
.secvices-wrapper{
  width: 1016px;
  display: flex;
}

.services-list {
  width: 600px;
  margin: 0;
  padding: 0;
}

.services-link {
  font-family: 'Raleway', sans-serif;
  line-height: 21px;

  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #FFF17F;
}

.services-subtitle {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.servicer-description {
    color: #444444;
}

/* Доставка */
.delivery {
  width: 1160px;
  display: flex;
  justify-content: center;
  background: #F0F0F0;
}

.delivery-button {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: 23px;

  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

/* О нас */
.about-us-wrapper{
  width: 1000px;
  display: flex;
  margin: 0 auto;
}

.about-us{
margin-right: 103px;;
}

.about-us-title {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.about-us-description {
  color: #444444;
}

.delivery-services-item {
  font-weight: 700;
  line-height: 20px;
}

.about-us-link {
  font-family: 'Raleway', sans-serif;
  line-height: 21px;

  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

/* Контакты */
.contacts-title {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.contacts-description {
  color: #444444;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;

  color: #444444;
}

.contacts-address-text,
.contacts-phone {
  font-style: normal;

  color: #444444;
}

.contacts-phone {
  font-style: normal;
}

.contacts-schedule-item {
  color: #444444;
}

.feedback-link {
  font-family: 'Raleway', sans-serif;
  line-height: 21px;

  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}

/* Рассылка */
.mailing {
  background-color: #F0F0F0;
}

.mailing-title {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.field {
  color: #444444;
}

.mailing-button {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  line-height: 21px;

  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.mailing-description,
.mailing-description-free {
  color: #444444;
}

/* Футер */
.page-footer-container {
  display: flex;
  width: 1440px;
  margin: 0 auto;
}


.page-footer {
  color: #FFFFFF;
  background: #444444;
}

.footer-contacts-address-text {
  font-size: 16px;
  font-style: normal;
  line-height: 19px;
}

.footer-navigation-link {
  font-family: 'Raleway', sans-serif;
  line-height: 21px;

  text-align: center;
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.footer-contacts-phone {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;

  text-decoration: none;

  color: #FFFFFF;
}

/* Страница каталога */
.navigation-link-log-off {
  opacity: 0.3;
}

.header-inner-title {
  font-family: 'Raleway', sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;

  text-decoration: none;

  opacity: 0.6;
  color: #000000;
}

.catalog-filter-title {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  background-color: #DCDCDC;
}

.catalog-filter {
  background: #E5E5E5;
}

.catalog-filter-subtitle {
  font-weight: 700;
  line-height: 20px;

  letter-spacing: -0.02em;
}

.catalog-filter-label {
  font-size: 15px;
  line-height: 18px;

  opacity: 0.3;
}

.catalog-filter-item {
  font-size: 16px;
  line-height: 19px;
}

.button {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 21px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting-type {
  background: #EBEBEB;
}

.sorting-label {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  line-height: 19px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.select-control option {
  font-size: 16px;
  line-height: 19px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-weight: 700;
  line-height: 24px;

  letter-spacing: -0.02em;

  color: #000000;
}

.product-card-price {
  line-height: 21px;
}

.product-card-button {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  font-style: normal;
  line-height: 21px;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination-load-more {
  font-size: 16px;
  line-height: 19px;
}

.pagination {
  background: #EBEBEB;
}

.pagination-link-number {
  text-decoration: none;

  opacity: 0.3;
  color: #444444;
}

.pagination-prev,
.pagination-next {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;

  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  color: #000000;
}
